#footer-wrap
  #ft
    .ft-item-1
      .t-top
        .t-t-l
          p.ft-t.t-l-t 百忙之中，下一步闲棋是很有必要的
          .bg-ad
            div
              | Know everything about something and something about everything.
            .btn-xz-box
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`