#footer-wrap
  #ft
    .ft-item-1
      .t-top
        .t-t-l
          p.ft-t.t-l-t 真的不想上早八！！！
          .bg-ad
            div
              | 中午吃点啥好捏
            .btn-xz-box
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`