body {
 	  background:url(/images/background.png);
    background-size: cover;
 	  background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;
}
//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.8;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    .post-block {
	background: rgba(255,255,255,0.7) none repeat scroll !important;
}


}
//侧边框的透明度设置
.sidebar-inner {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
  }



//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.8);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.8;
}

  //去掉顶部黑线：
.headband {display:none;}

// 代码行样式
code{
  background: #555;
  color: #fff;
}



